.Canvas {
  width: 100%;
  display: flex;
}

.Canvas .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Canvas .right .iconified {
  display: none;
  margin-top: 40px;
}

.Canvas .right .form {
  max-width: 450px;
  width: calc(100% - 30px);
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  transform: translateX(10px);
}

.Canvas .right .form p {
  font-size: 14px;
}

@media screen and (max-width: 1254px) {
  .Canvas .right {
    width: 100%;
  }

  .Canvas .right .iconified {
    display: flex;
    transform: scale(0.8);
  }
}
