.ProfileMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}

.ProfileMenu div.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1878a1;
  margin: 0 10px;
  color: white;
  font-weight: var(--bold);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileMenu .collapseToggle {
  display: flex;
  align-items: center;
}

.menuCollapse {
  position: absolute;
  right: 40px;
  top: 90px;
  width: 250px;
  padding: 10px 0;
  border-radius: 16px;
  background-color: white;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuCollapse.active {
  visibility: visible;
  opacity: 1;
}

.menuCollapse div {
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: var(--medium);
  font-size: 10pt;
  width: 100%;
  cursor: pointer;
}

.menuCollapse div.item p {
  width: 100%;
  text-align: center;
}

.menuCollapse div.item p::selection {
  background: none;
}

.menuCollapse div.item:last-child p {
  color: var(--errorColor);
}

.profile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-height: calc(90% - 80px);
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  outline: none;
}

.profile-modal .transition-modal-description {
  margin-top: 20px;
  font-size: 16pt;
  font-weight: var(--medium);
}

.profile-modal .form-edit-profile {
  width: 70%;
  margin-top: 10px;
  overflow: auto;
  padding: 0 25px;
}

.profile-modal .icon {
  width: 108px;
  height: 108px;
  position: relative;
  display: inline-block;
}

.profile-modal .icon:before,
.profile-modal .icon:after {
  content: '';
  width: 72px;
  height: 12px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0.8s;
  border-radius: 4px;
}

.profile-modal .icon:before {
  left: 10px;
  width: 42px;
  bottom: 36px;
  transform: scale(0) rotate(0);
}

.profile-modal .icon:after {
  top: 48px;
  right: 8px;
  transform: scale(0) rotate(0);
}

.profile-modal .success.icon:before {
  transform: scale(1) rotate(45deg);
}

.profile-modal .success.icon:after {
  transform: scale(1) rotate(-45deg);
}

@media screen and (max-width: 1254px) {
  .menuCollapse {
    position: relative;
    border-radius: 0;
    background-color: transparent;
    width: 100vw;
    flex: 1;
    flex-basis: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    order: 1;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;
    right: 0;
    top: 0;
    box-shadow: none;
    transform: translateX(20px);
    height: 0;
    padding: 0;
    transition: height ease 0.2s, opacity ease 0.4s;
  }

  .menuCollapse.active {
    height: 100px;
    margin-top: 10px;
  }

  .ProfileMenu {
    position: absolute;
    top: 20px;
    left: calc(100vw - 90px);
    order: 0;
    flex-wrap: wrap;
  }

  .profile-modal {
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    padding: 0;
    border-radius: 0;
    z-index: 1003 !important;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    outline: none;
  }

  .profile-modal .form-edit-profile {
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .profile-modal .form-edit-profile .formFields {
    flex: 1;
  }

  .profile-modal .form-buttons {
    margin-bottom: 20px;
  }

  .profile-modal .changePassTopLabel {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1255px) {
  .menuCollapse div:hover {
    background: rgb(245, 245, 249);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(245, 245, 249, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
