/*TEXTFIELD --------------------------------*/
.MuiInputBase-root {
  background-color: white !important;
  border-radius: 4px !important;
  margin-bottom: 20px;
  transition: all ease 0.2s !important;
}

.secondary .MuiInputBase-root {
  background-color: var(--bgColor) !important;
}

.MuiInputLabel-root {
  margin-left: 10px;
}

.MuiInputBase-input {
  padding-left: 20px !important;
}

.iconified .MuiInputLabel-root {
  margin-left: 30px;
}

.iconified .MuiInputBase-input {
  padding-left: 45px !important;
}

.MuiInputLabel-root:not(.Mui-focused) {
  color: #aaa;
  font-size: 16px;
  transition: all ease 0.2s;
}

.MuiInputBase-root.Mui-focused {
  box-shadow: inset 0 0 2px 1px var(--primary50);
}

/*BUTTON --------------------------------*/
.MuiButton-root {
  background-color: var(--primaryColor) !important;
  font-size: 16px !important;
  width: 100%;
  font-weight: var(--extraBold) !important;
  border-radius: 4px !important;
  height: 50px;
  box-shadow: none !important;
}

.MuiButton-root.errorColor {
  background-color: var(--errorColor) !important;
}

.MuiButton-root.secondary {
  background-color: var(--primary50) !important;
}

.MuiButton-root.tertiary {
  background-color: transparent !important;
  color: #aaa;
  font-weight: var(--regular) !important;
  border: 2px dashed #aaa;
  height: 32px;
  transition: all ease 0.3s;
}

.MuiButton-root.tertiary:hover:not(.Mui-focusVisible):not(.active) {
  border-color: var(--primary50) !important;
  color: var(--primary50) !important;
}

.MuiButton-root.tertiary.Mui-focusVisible:not(.active) {
  border-color: var(--primary50) !important;
  color: var(--primary50) !important;
}

.MuiButton-root.tertiary.active {
  background-color: var(--primaryColor) !important;
  color: white !important;
  border: none;
}

/*CHECKBOX --------------------------------*/
.MuiFormControlLabel-root .MuiTypography-root {
  transition: all ease 0.2s;
  color: #aaa;
}

.MuiFormControlLabel-root .Mui-checked ~ .MuiTypography-root {
  color: var(--primaryColor);
}

.MuiFormControlLabel-root .MuiCheckbox-root .MuiSvgIcon-root {
  color: #aaa;
}

.MuiFormControlLabel-root .MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
  color: var(--primaryColor);
}

/*TYPOGRAPHY --------------------------------*/
.MuiTypography-root.MuiTypography-subtitle1 {
  font-size: 12px;
  color: #AAA;
}

.MuiTypography-root.MuiTypography-h5 {
  font-weight: var(--extraBold);
  margin-bottom: 10px;
  color: #272727;
}