/*TEXTFIELD --------------------------------*/
.MuiInputBase-root {
  background-color: white !important;
  border-radius: 4px !important;
  transition: all ease 0.2s !important;
}

.secondary .MuiInputBase-root {
  background-color: var(--bgColor) !important;
}

.MuiInputLabel-root {
  margin-left: 10px;
}

.MuiInputBase-input {
  padding-left: 20px !important;
}

.iconified .MuiInputLabel-root {
  margin-left: 32px;
}

.iconified .MuiInputBase-input {
  padding-left: 45px !important;
}

.MuiInputLabel-root:not(.Mui-focused) {
  color: #aaa;
  font-size: 16px;
  transition: all ease 0.2s;
}

.MuiInputBase-root.Mui-focused {
  box-shadow: inset 0 0 2px 1px var(--primary50);
}

.MuiInputBase-root.Mui-error {
  box-shadow: inset 0 0 2px 1px var(--errorColor);
}

/*HELPERTEXT --------------------------------*/
.MuiFormHelperText-root {
  margin: 0 !important;
  font-size: 0.7rem !important;
  font-style: italic !important;
}

/*BUTTON --------------------------------*/
.MuiButton-root {
  background-color: var(--primaryColor) !important;
  font-size: 16px !important;
  width: 100%;
  font-weight: var(--extraBold) !important;
  border-radius: 4px !important;
  height: 50px;
  box-shadow: none !important;
  color: white;
}

.MuiBox-root .MuiButton-root.Mui-disabled {
  color: white !important;
}

.MuiButton-root.errorColor {
  background-color: var(--errorColor) !important;
}

.MuiButton-root.errorSecondary {
  background-color: var(--error50) !important;
}

.MuiButton-root.secondary {
  background-color: var(--primary50) !important;
}

.MuiButton-root.tertiary {
  background-color: transparent !important;
  color: #aaa;
  font-weight: var(--regular) !important;
  border: 2px dashed #aaa;
  height: 32px;
  transition: all ease 0.3s;
}

.MuiButton-root.tertiary:hover:not(.Mui-focusVisible):not(.active) {
  border-color: var(--primary50) !important;
  color: var(--primary50) !important;
}

.MuiButton-root.tertiary.Mui-focusVisible:not(.active) {
  border-color: var(--primary50) !important;
  color: var(--primary50) !important;
}

.MuiButton-root.tertiary.active {
  background-color: var(--primaryColor) !important;
  color: white !important;
  border: none;
}

/*CHECKBOX --------------------------------*/
.MuiFormControlLabel-root .MuiTypography-root {
  transition: all ease 0.2s;
  color: #aaa;
}

.MuiFormControlLabel-root .Mui-checked ~ .MuiTypography-root {
  color: var(--primaryColor);
}

.MuiFormControlLabel-root .MuiCheckbox-root .MuiSvgIcon-root {
  color: #aaa;
}

.MuiFormControlLabel-root .MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
  color: var(--primaryColor);
}

/*TYPOGRAPHY --------------------------------*/
.MuiTypography-root.MuiTypography-subtitle1 {
  font-size: 12px;
  color: #AAA;
}

.MuiTypography-root.MuiTypography-h5 {
  font-weight: var(--extraBold);
  margin-bottom: 10px;
  color: #272727;
}

.MuiTypography-root.MuiTypography-h5.primary {
  font-weight: var(--extraBold);
  margin-bottom: 10px;
  color: var(--primaryColor);
}

.MuiTypography-root.MuiTypography-h6 {
  font-weight: var(--extraBold);
  margin-bottom: 10px;
  color: #272727;
}

/*DRAWER ---------------------------------------*/
.MuiDrawer-paper {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  background-color: #E5E5EF !important;
}

.MuiDrawer-paper .MuiListItemText-root {
  color: #555;
}

.MuiDrawer-paper a {
  text-decoration: none;
  color: var(--primary50);
}

.MuiDrawer-paper .MuiListItemText-root.active {
  color: var(--primaryColor);
}

/*TABS -----------------------------------------*/

.MuiTabs-root {
  width: 350px;
  margin-bottom: 16px;
  height: 48px !important;
}

.MuiTabs-root .MuiButtonBase-root {
  width: 175px;
  color: #aaa;
  border-bottom: 2px solid #ddd;
  font-size: 12pt;
  font-weight: var(--regular);
  padding-left: 0;
  padding-right: 0;
}

.MuiTabs-root .MuiButtonBase-root.Mui-selected {
  color: var(--primaryColor);
}

.MuiTabs-root .MuiTabs-indicator {
  transition: all ease 0.4s;
}

/*AUTOCOMPLETE ------------------------------*/

.MuiAutocomplete-root.noTabIndexable input {
  display: none;
}

.MuiAutocomplete-root.displayNone {
  display: none;
}

.MuiAutocomplete-root.displayNone + .MuiAutocomplete-popper {
  display: none !important;
}

/*DATEPICKER ---------------------------------*/

.MuiCalendarPicker-root {
  width: 310px !important;
}

.MuiMonthPicker-root {
  width: inherit !important;

  padding: 18px;
}

.MuiMonthPicker-root .PrivatePickersMonth-root {
  margin: 5px;
  height: 30px;
  width: 50px !important;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px #d3d3d3, 
            -3px -3px 6px #ffffff;
  border-radius: 8px;
  transition: all ease 0.3s;
}

.MuiMonthPicker-root .PrivatePickersMonth-root:hover {
  background-color: #eee;
}

/*CARD -----------------------------------------------*/

.MuiCard-root {
  height: 160px;
  padding: 15px;
  width: 130px;
  border-radius: 20px !important;
  display: flex;
}

.MuiCard-root .MuiCardContent-root {
  padding: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MuiCard-root .MuiCardContent-root p.date {
  font-size: 10px;
  line-height: 10px;
  color: #AAA;
  margin: 0;
  margin-top: 10px;
}

.MuiCard-root .MuiCardContent-root h2.nameReg {
  margin: 0;
  margin-top: 10px;
  color: #272727;
  font-size: 14px;
  word-wrap: normal;
  flex: 1;
}

/*BACKDROP --------------------------*/

.MuiBackdrop-root {
  background-color: rgba(0,0,0,0.3) !important;
  backdrop-filter: blur(6px) !important;
}