.expand-btn {
  background-color: #fff !important;
  width: 30px;
  height: 30px;
  margin-top: 30px !important;
  transition: margin ease 0.3s, background-color ease 0.3s, opacity ease 0.6s, transform ease 0.6s !important;
  z-index: 1202;
  align-self: flex-end !important;
  transform: translateX(50%);
}

.expand-btn.expanse {
  transform: rotateY(180deg) translateX(-50%);
}

.expand-btn:hover {
  background-color: #00000010 !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.Menu {
  background-color: #ececf6;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1201;
  transition: all ease 0.3s;
}

.MuiBottomNavigation-root {
  bottom: 0;
  width: 100vw !important;
  background-color: #ececf6 !important;
  height: 52px !important;
  position: fixed;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root {
  height: 52px;
  transition-property: all !important;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root:not(.Mui-selected) {
  padding: 8px 6px;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root:not(.Mui-selected) .MuiBottomNavigationAction-label {
  height: 0;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root.Mui-selected svg {
  width: 20px !important;
  height: 20px;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root:not(.Mui-selected) svg {
  width: 30px !important;
  height: 30px;
}

.Menu.expanse {
  width: 250px;
}

.Menu .logo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

.Menu .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuButton {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuButton .textual {
  flex: 1;
  padding-left: 5px;
  color: #aaa;
  font-weight: var(--medium);
}

.menuButton svg {
  font-size: 25px;
  color: #aaa;
  width: 60px;
  min-width: 60px;
}

.links .items .MuiList-root .MuiListItem-root .Mui-focusVisible {
  background-color: black;
}

.menuButton.active {
  border-right: 2px solid var(--primaryColor);
  width: calc(100% - 2px);
}

.menuButton.active:not(.expanded) svg {
  color: var(--primaryColor);
}
.menuButton.active:not(.expanded) .textual {
  color: var(--primaryColor);
}

.menuButton.expanded .textual {
  color: #555;
}

.menuButton.expanded svg {
  color: #555;
}

.fullWidthList {
  width: 250px;
  min-width: 250px;
}

.fullWidthList .itemlist:not(.active) {
  color: #666;
}

.fullWidthList .itemlist.active {
  color: var(--primaryColor);
}

.fullWidthList .itemlist-btn {
  color: var(--primary50) !important;
}

.subMenuBottomAction {
  display: none !important;
  position: fixed;
  height: 52px;
  width: 100%;
  background-color: #ececf6;
}

.subMenuBottomAction.active {
  display: flex !important;
  z-index: 1002;
}

.subMenuBottomAction .MuiBottomNavigationAction-root:not(:last-child) svg {
  display: none;
  transform: none;
}

.subMenuBottomAction .MuiBottomNavigationAction-root:not(.Mui-selected) .MuiBottomNavigationAction-label {
  height: unset;
}

@media screen and (min-width: 1255px) {
  .menuButton:hover:not(.active):not(.expanded) svg {
    color: var(--primary50);
  }

  .menuButton:hover:not(.active):not(.expanded) {
    border-right: 2px solid var(--primary50);
    width: calc(100% - 2px);
  }

  .menuButton:hover:not(.active):not(.expanded) .textual {
    color: var(--primary50);
  }

  .menuButton:not(.expanded):hover {
    cursor: pointer;
  }

  .fullWidthList .itemlist-btn:hover .itemlist:not(.active) {
    color: var(--primaryColor) !important;
  }
}
