.modalBox-root.filter {
  width: 500px;
  overflow: auto;
}

.modalBox-root.filter .row {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}

.tooltip {
  border: 2px solid #acacac;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #acacac;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.tooltip svg {
  transition: all ease 0.2s;
}

.modal.buttons {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 1fr;
  gap: 9.8px;

  margin-top: 25px;
}

.btnLimparFiltros {
  margin-top: 10px;
}

.css-17vdz66 {
  width: 100%;
}

.MuiBox-root.modalBox-root.filter {
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}

.MuiBox-root.modalBox-root.filter.dateOpened {
  transform: translate(-50%, -50%);
}

.modalBox-root.filter .row {
  margin-bottom: 5px;
}

.filter .formFields {
  width: 100%;
  flex: 1;
}

@media screen and (max-width: 1254px) {
  .modalBox-root.filter {
    width: calc(100vw - 80px);
    overflow: auto;
  }
}

@media screen and (min-width: 1255px) {
  .tooltip:hover {
    border: 2px solid var(--primary50);
    color: var(--primary50);
  }

  .tooltip:hover svg {
    color: var(--primary50);
  }
}
