.row .info span {
  font-weight: var(--semiBold);
}

.info .row {
  margin: 5px !important;
}

.info {
  margin-bottom: 15px;
}

.Table .row .header .icon {
  color: white;
}

.iconbutton {
  margin-right: 10px !important;
  transition: background-color ease 0.2s;
}

.iconbutton.edit {
  background-color: var(--primary50) !important;
}

.iconbutton.edit:hover {
  background-color: var(--primaryColor) !important;
}

.iconbutton.delete {
  background-color: var(--error50) !important;
}

.iconbutton.delete:hover {
  background-color: var(--errorColor) !important;
}

.confirmdelete {
  background-color: white;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  border-radius: 8px;
  transition: all ease 0.2s;
}

.confirmdelete .message {
  margin-left: 20px;
}

.confirmdelete .buttons {
  justify-self: flex-end;
  margin: 0;
}

.confirmdelete .buttons .MuiIconButton-root .icon {
  color: #aaa !important;
}

.confirmdelete .buttons .MuiIconButton-root:hover .icon {
  color: var(--primary50) !important;
}

.confirmdelete.confirm {
  opacity: 1;
  visibility: visible;
}

.errorPanel {
  background-color: #df9d99;
  position: absolute;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  border-radius: 8px;
  transition: all ease 0.3s;
}

.errorPanel .message {
  margin-left: 20px;
  font-weight: var(--medium);
}

.errorPanel.fullHeight {
  height: 105px;
  transition: all ease 0.1s;
}

.errorPanel .buttons {
  justify-self: flex-end;
  margin: 0;
}

.errorPanel .buttons .MuiIconButton-root .icon {
  color: white !important;
}

.errorPanel .buttons .MuiIconButton-root:hover .icon {
  color: var(--primary50) !important;
}

.errorPanel.confirm {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1254px) {
  .Table .row.fullView .textual {
    margin-left: 10px;
    margin-top: 10px;
    justify-content: flex-start !important;
  }

  .Table .MuiTypography-root.MuiTypography-h5 {
    margin: 0 !important;
  }

  .textual .description {
    display: none !important;
  }

  .textual .date {
    display: none !important;
  }

  .fullView {
    flex-direction: column;
  }

  .fullView .info {
    display: flex !important;
  }

  .confirmdelete .buttons {
    width: 50px;
  }


  .errorPanel {
    height: 50px;
  }
}