
.modal-confirm-delete .userInfo p.overflown::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 30%, white 100%);
  pointer-events: none;
}

.modal-confirm-delete .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-top: 20px;
}

.modal-confirm-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 24;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-confirm-delete #transition-modal-title {
  color: #aaa;
  font-weight: var(--semiBold);
  font-size: 14px;
  margin-bottom: 10px;
}

.modal-confirm-delete .userInfo {
  display: flex;
  overflow: hidden;
  max-height: 75px;
}

.modal-confirm-delete .userInfo p {
  line-height: 30px;
  padding: 0 15px;
  border-radius: 4px;
  margin: 10px;
  font-weight: 500;
  position: relative;
}