.formSectionsController {
  display: flex;
  flex: 1;
  width: 200%;
  overflow: hidden;
}

.formSectionsController .autocompleteContainer {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.formSectionsController
  .autocompleteContainer
  .MuiAutocomplete-popperDisablePortal {
  position: relative;
  flex: 1;
  z-index: 0;
}

.formSectionsController
  .autocompleteContainer
  .MuiAutocomplete-popperDisablePortal
  .MuiPaper-root {
    position: relative;
    overflow-y: scroll;
}

.formSectionsController.translate {
  transform: translateX(-50%);
}
