.dropfiles {
  width: 100%;
  margin-top: 25px;
  height: 100%;
}

.dropfilesContainer {
  width: 100%;
}

.modalControllerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  height: 100%;
}

.modalControllerContainer {
  justify-content: center;
  align-items: center;
}

.dropfilesContainer .dropzone {
  height: 186px;
  width: 100%;
  border: 2px dashed #aaa;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-weight: var(--medium);
  outline: none;
  transition: all ease 0.2s;
  text-align: center;
}

.dropfilesContainer .dropzone.unsuportedAlert {
  border: 2px dashed var(--errorColor);
  color: var(--errorColor);
}

.dropfilesContainer .dropzone.dropzoneFilled {
  height: auto;
  min-height: 186px;
  display: flex;
  justify-content: flex-start;
  cursor: unset;
  flex: 1;
  flex-direction: column;
}

.dropfilesContainer .dropzone:not(.dropzoneFilled):not(.unsuportedAlert):hover {
  color: var(--primary50);
  border-color: var(--primary50);
}

/*LISTAS -------------------------------*/

.row.overview {
  display: flex;
  height: 100%;
  max-height: max-content;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.row.overview .column {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.row.tables .column {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.row.tables .column .Table {
  margin-bottom: 10px;
}

.row .column:last-child .Table {
  position: relative;
  height: fit-content;
  max-height: 265px;
}

.row.tables .column:not(.loading):last-child {
  overflow: auto;
  position: relative;
  width: 100%;
}

.row.tables .column.loading {
  overflow: hidden;
  mix-blend-mode: multiply;
  position: relative;
}

.row.tables .column.loading .overflown::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent 70%, white 100%);
  pointer-events: none;
}

.row .column .filesTypes {
  width: calc(100% - 15px);
}

.btnUpload {
  width: 350px;
}

.sectionController {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 531px;
}

.sectionController .sectionModal {
  width: 511px;
  min-width: 511px;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all ease 0.4s;
  overflow: hidden;
  padding-left: 20px;
}

.sectionController .sectionModal:first-child {
  margin-right: 50px;
}

.sectionController .sectionModal .buttons {
  flex: 1;
  align-items: flex-end;
}

.row.up {
  justify-content: space-between;
}

.row.up .uploadButtonIcon {
  display: none;
}

.filters {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.unfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.unfound h5 {
  color: #aaa !important;
}

.sectionsController {
  display: none;
}

.sectionsController .dot {
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transition: all ease .4s;
}

.sectionsController .dot.active {
  background-color: var(--primary50);
}

@media screen and (max-width: 1254px) {
  .row.up .uploadButtonIcon {
    display: block;
  }
  .row.up .uploadButtonText {
    display: none;
  }

  .btnUpload {
    width: 100px;
  }

  .filters {
    width: 100%;
    margin-left: 10px;
  }

  .row.tables .column {
    width: calc(100vw - 20px) !important;
    transition: all ease 0.4s;
  }

  .row.tables.drag .column {
    transform: translateX(calc(-100vw - 10px));
  }

  .sectionsController {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .row .column:last-child .Table {
    max-height: 305px;
  }

  .row .column .filesTypes {
    width: 100%;
  }
}
