.head {
  width: 100%;
}

.Header {
  display: flex;
  align-items: center;
  width: 100%;
}

.Header .right {
    display: flex;
}

.Header .MuiTypography-root {
  flex: 1;
}

.Header {
  display: flex;
  justify-content: flex-end;
}

.Header .acesso {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header .MuiTypography-root.MuiTypography-subtitle1 {
  text-align: right;
}

@media screen and (max-width: 1254px) {
  .head {
    width: calc(100vw - 40px);
  }
  
  .Header .acesso {
    display: none;
  }

  .head > .MuiTypography-root {
    display: none;
  }

  .Header {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .Header::before,
  .Header::after {
    content: '';
    width: 100%;
    order: 1;
  }

  .Header .MuiTypography-root {
    flex: unset;
    width: calc(100% - 80px);
    justify-self: flex-start;
  }

  .Header .right .menuCollapse {
    width: 100vw;
    transform: translate(-20px);
  }
}