.Card {
    width: 90px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.Card svg {
    font-size: 30px;
}

.Card p.date {
    font-size: 10px;
    line-height: 10px;
    color: #AAA;
    margin: 0;
}

.Card h2.nameReg {
    margin: 0;
    margin-top: 10px;
    color: #272727;
    font-size: 14px;
}