.Checkbox {
    color: #aaa;
    font-weight: var(--medium);
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.Checkbox .checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Checkbox .check {
    display: none;
}

.Checkbox label .icon {
    width: 18px;
    height: 18px;
    border: 1px solid #aaa;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

.Checkbox label .icon:before,
.Checkbox label .icon:after {
    content: '';
    width: 12px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.Checkbox label .icon:before {
    left: 1px;
    width: 7px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.Checkbox label .icon:after {
    top: 8px;
    right: 1px;
    transform: scale(0) rotate(0);
}

.Checkbox .check:checked+label {
    color: var(--primaryColor);
}

.Checkbox .check:checked+label .icon {
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

.Checkbox .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.Checkbox .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.Checkbox label::selection {
    background-color: #fff;
}