.Input {
    width: calc(100% - 50px);
    padding: 0 25px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    transition: all ease 0.3s;
}

.Input::placeholder {
    color: #aaa;
}

.Input:focus::placeholder {
    color: var(--primaryColor);
}

.Input.error::placeholder {
    color: var(--errorColor);
}

.Input.error {
    box-shadow: inset 0 0 1px 1px var(--error50);
}

.Input.secondary {
    background-color: var(--bgColor);
}

.Input:focus {
    box-shadow: inset 0 0 1px 1px var(--primaryColor);
}

.form-group .label {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    color: #aaa;
    transition: all ease 0.3s;
    transform-origin: top left;
}

.form-group .label.iconified {
    margin-left: 45px;
}

.form-group .label.focused, .form-group .label.hasContent {
    transform: scale(0.8) translateX(-10px) translateY(-15px);
}

.label.focused {
    color: var(--primaryColor);
}

.label.hasContent ~ .Input, .label.focused ~ .Input {
    height: 40px !important;
    padding-top: 10px !important;
}