.SectionizedTable {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    transition: all ease 0.5s;
    /*align-items: center;*/
}

.SectionizedTable.formInvi {
    width: 100%;
    margin-left: 32.5%;
}

.SectionizedTable .tabs {
    width: 350px;
    height: 40px;
    display: flex;
    border-bottom: 2px solid #CCCCCC;
    cursor: pointer;
    transition: all ease 1s;
    margin-left: 0;
}

.SectionizedTable .tabs.middle {
    margin-left: 100px;
}

.SectionizedTable .tabs .option {
    width: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 14pt;
    color: #aaa;
    transition: color ease 0.3s;
}

.SectionizedTable .tabs .option::selection {
    background: none;
}

.SectionizedTable .tabs .option.active {
    color: var(--primaryColor);
}

.SectionizedTable .tabs .option:hover:not(.active) {
    color: var(--primary50);
}

.SectionizedTable .tabs .selector {
    height: 2px;
    width: 175px;
    background-color: var(--primaryColor);
    position: absolute;
    margin-top: 40px;
    transition: all ease 0.4s;
}

.SectionizedTable .tabs .selector.active {
    margin-left: 175px;
}

.SectionizedTable .tabs .option:hover:not(.active) {
    border-bottom: 2px solid var(--primary50);
    margin-bottom: -2px;
}

.SectionizedTable .search {
    width: 500px;
    margin: 0 20px;
}

.SectionizedTable .search .icon {
    position: absolute;
    margin-top: 22px;
    margin-left: -488px;
    color: #aaa;
    transition: all ease 0.3s;
}

.SectionizedTable .search .Input:focus ~ .icon {
    color: var(--primaryColor) !important;
}

.SectionizedTable .rows {
    height: 100%;
    width: 560px;
    margin-top: 20px;
    overflow: auto;
}

.SectionizedTable .rows table {
    width: 100%;
}

.SectionizedTable .rows .row {
    height: 46px;
    margin: 0;
    border-radius: 8px;
    padding: 0 20px;
    color: #333;
}

.SectionizedTable .rows .row .header {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: calc(13px / 2);
    cursor: pointer;
}

.SectionizedTable .rows .row.selected {
    background-color: white;
}

.SectionizedTable .rows .row:hover {
    background-color: white;
}

.SectionizedTable .rows .row .image {
    width: 33px;
    height: 33px;
    background-color: #1878a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16.5px;
    color: white;
    margin-right: 10px;
}


.SectionizedTable .rows .row .header div:not(:first-child) {
    font-size: 12px;
}

.SectionizedTable .rows .row .header .email, .SectionizedTable .rows .row .header .matricula{
    flex: 1;
    text-align: end;
}

.SectionizedTable .rows .row .header .icon {
    margin-left: 10px;
}