.Table {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
}

.principalContent {
    width: 100%;
    height: 100%;
    overflow: auto !important;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scrollable {
    position: absolute;
    width: 100%;
}

.Table .row {
    width: 100%;
    display: flex;
    height: 40px;
    margin: 0;
    border-radius: 8px;
    margin: 10px 0 10px 0 !important;
}

.Table .row:hover {
    background-color: #e5e5e5;
}

.Table .row .textual {
    flex: 1;
    display: flex;
    font-size: 12px;
    margin-left: 20px;
}

.Table .row .textual .regname {
    flex: 1;
}

.Table .row button.reg {
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    height: 20px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-weight: var(--semiBold);
    border-radius: 8px;
}

