.SectionizedTable .rows.loading {
  overflow: hidden !important;
}

.rows .loadingSection {
  overflow: hidden;
}

.pagination-table.loading {
  display: none;
}

@media screen and (max-width: 1254px) {
  .SectionizedTable .MuiTablePagination-root {
    
  }
}