.SectionizedTable .rows {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  overflow-y: scroll;
}

.SectionizedTable .rows.loading {
  overflow-y: hidden !important;
}

.rows .loadingSection {
  overflow-y: hidden;
}

.pagination-table.loading {
  display: none;
}

@media screen and (max-width: 1254px) {
  .SectionizedTable .rows {
    width: calc(100% + 10px);
  }

  .SectionizedTable .rows {
    padding-right: 10px;
  }
}