.Table {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  position: relative;
  background-color: var(--bgColor);
}

.Table .row .header {
  padding: 10px 0;
}

.principalContent {
  width: calc(100% - 10px);
  height: fit-content;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative !important;
}

.scrollable {
  width: 100%;
  padding-bottom: 10px;
}

.Table .row {
  width: 100%;
  display: flex;
  margin: 0;
  border-radius: 8px;
  margin: 10px 0 10px 0 !important;
}

.Table .row.collapsable {
  flex-direction: column;
}

.Table .row .header {
  align-items: center;
}

.Table .row .info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Table .row .info .row {
  font-size: 12px;
  margin-left: 20px !important;
  width: calc(100% - 20px);
  min-height: 0;
  align-items: center;
}

.Table .row .header {
  width: 100%;
  display: flex;
  height: fit-content !important;
}

.Table .row:hover,
.Table .row.collapsed:not(.fullView) {
  background-color: white;
}

.Table .row.collapsed {
  height: 100%;
}

.Table .row .textual {
  flex: 1;
  display: flex;
  font-size: 12px;
  margin-left: 20px;
  max-height: 100%;
  align-items: center;
  overflow: hidden;
}

.Table .row.collapsable {
  cursor: pointer !important;
  overflow: hidden;
  transition: all ease 0.2s;
}

.Table .row .textual .regname,
.Table .row .textual .description {
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}

.Table .row .textual .date {
  width: 280px;
  text-align: right;
}

.Table .row .textual .refdate {
  width: 145px;
  margin: 0 20px;
}

.Table .row .textual .semiVisible {
  opacity: 0;
}

.Table .row .reg {
  background-color: var(--primaryColor);
  border: none;
  cursor: pointer;
  height: 20px;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: var(--semiBold) !important;
  font-size: 12px !important;
  border-radius: 8px !important;
  text-decoration: none !important;
}

@media screen and (max-width: 1254px) {
  .Table .row .textual:not(.fullView) {
    flex-direction: column;
    align-items: flex-start;
  }

  .Table .row .textual:not(.fullView) .refdate {
    margin: 0;
    text-align: left !important;
  }

  .fullView .refdate {
    margin: 0 !important;
    width: 100% !important;
    text-align: left !important;
  }

  .Table .row .textual:not(.fullView) .regname {
    font-weight: 600;
    height: 100% !important;
  }

  .Table .row .textual {
    height: 100% !important;
    max-height: 100%;
    justify-content: center;
    width: 100%;
  }

  .Table .row .header {
    height: fit-content !important;
  }

  .Table .row.collapsed.fullView {
    background-color: white;
  }

  .Table .row .textual .regname {
    flex: unset;
    width: 100%;
  }

  .principalContent {
    width: calc(100vw - 40px);
    padding: 0 !important;
    margin: 0 !important;
  }

  .Table .row.fullView {
    cursor: pointer !important;
    overflow: hidden;
    transition: all ease 0.2s;
  }
}